body, html {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.register-link {
    color: #ffd700;
}

.container {
    display: flex;
    flex: 1;
    height: 80vh;
}

.sidebar {
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.week-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.week-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.day {
    text-align: center;
    font-weight: bold;
}

.event {
    background-color: #007bff;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

main {
    flex-grow: 1;
    padding: 20px;
    margin-top: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}